#login-page {
    background-image: url(../assets/pattern1.png);
    background-repeat: repeat;
    width: 100%;
}

#login-page .row {
    height: 100vh;
}
.login-btn {
    background-color: #0070D2;
}
#form-fields-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-fields-container > div {
    width: 75%;
}
.card {
    width: 80%;
    padding: 30px;
    border: none;
}
#manage-customers-container {
    color: #042D60;
}

#manage-customers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a{
    display: flex;
    justify-content: center;
}

